
.move {
    margin-right: 4rem;
}

.title {
    margin-top: 25rem;
}

.event-title {
    text-align: center;
    font-weight: bold;
    color: black;
    transition: all;
}

.event-title:hover {
    transform: scale(1.2);
}

.size {
    font-size: 130%;
}

.justify-me {
    text-align: justify;
    text-justify: inter-word;
}

.btn1 {
    width: 25%;
    margin: 0.5rem 0.5rem;
    padding: 0;
}
.btn2 {
    text-align: center;
    margin-bottom: 0;
}

.sinaxar-height {
    height: 25rem;
}

.move-sinaxar {
    margin-top: 0;
    padding-top: 0;
}

.btn1 {
    width: 17%;
    margin: 0.5rem 0.2rem;
    padding: 0;
}

.btn-color {
    color: white;
}

.sinaxar {
    margin-top: 0rem;
    text-align: center;
}

.top-space {
    margin-top: 2rem;
}



@media only screen and (max-width: 600px) {
    .phone-background {
        background-image: url('../images/imparati.jpg');
    }
    .title {
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    .address {
        color: white;
        font-weight: bold;
    }

    .address:hover {
        cursor: pointer;
        color: black;
        background-color: white;
    }
    .event-title {
        text-align: center;
        font-weight: bold;
    }
    .sinaxar {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;

        
    }
    .sinaxar-height {
        height: 25rem;
    }
    .btn1 {
        width: 25%;
        margin: 0.5rem 0.5rem;
        padding: 0;
    }
    .btn2 {
        text-align: center;
    }
  }
