
.move {
    margin-right: 4rem;
}

.title {
    margin-top: 25rem;
}

.event-title {
    text-align: center;
    font-weight: bold;
}

.size {
    font-size: 130%;
}

.justify-me {
    text-align: justify;
    text-justify: inter-word;
}




@media only screen and (max-width: 600px) {
    .phone-background {
        background-image: url('../images/imparati.jpg');
    }
    .title {
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    .address {
        color: white;
        font-weight: bold;
    }

    .address:hover {
        cursor: pointer;
        color: black;
        background-color: white;
    }
    .event-title {
        text-align: center;
        font-weight: bold;
    }
  }
